.footer {
    background: var(--green);
    width: 100%;
    height: 150px;
    color: black;
}

.footer .container {
    display: flex;
}

.footer__about {
    text-align: center;
    flex: 33%;
}

.footer__share {
    flex: 33%;
    text-align: center;
}

.footer__lic {
    flex: 33%;
    text-align: center;
}

.footer__subtitle {
    margin-top: 20px;
    font-weight: 500;
}

.footer__text{
    font-size: 14px;
    color: #333333;
    margin: 10px;

}